.noseids
nosetests.xml
.vscode/settings.json
__pycache__/__init__.cpython-39.pyc
__pycache__/crypto_functions.cpython-39.pyc
__pycache__/crypto.cpython-39.pyc
__pycache__/filebrowser.cpython-39.pyc
__pycache__/main.cpython-39.pyc
__pycache__/script_parser.cpython-39.pyc
__pycache__/server_browser.cpython-39.pyc
__pycache__/server.cpython-39.pyc
__pycache__/solitaire.cpython-39.pyc
__pycache__/test_pytest.cpython-39-pytest-6.2.2.pyc
__pycache__/test_pytest.cpython-39.pyc
__pycache__/windows.cpython-39.pyc
__pycache__/ai.cpython-39.pyc
__pycache__/board.cpython-39.pyc
__pycache__/client.cpython-39.pyc
__pycache__/convert.cpython-39.pyc
__pycache__/deck.cpython-39.pyc
__pycache__/images.cpython-39.pyc
__pycache__/options.cpython-39.pyc
__pycache__/parser.cpython-39.pyc
__pycache__/remote.cpython-39.pyc
__pycache__/session.cpython-39.pyc
.vscode/launch.json
.gitignore
.pytest_cache/
.vscode/
__pycache__/
