.noseids
nosetests.xml
.vscode/settings.json
__pycache__/__init__.cpython-39.pyc
__pycache__/crypto_functions.cpython-39.pyc
__pycache__/crypto.cpython-39.pyc
__pycache__/filebrowser.cpython-39.pyc
__pycache__/main.cpython-39.pyc
__pycache__/script_parser.cpython-39.pyc
__pycache__/server_browser.cpython-39.pyc
__pycache__/server.cpython-39.pyc
__pycache__/solitaire.cpython-39.pyc
__pycache__/test_pytest.cpython-39-pytest-6.2.2.pyc
__pycache__/test_pytest.cpython-39.pyc
__pycache__/windows.cpython-39.pyc
__pycache__/ai.cpython-39.pyc
__pycache__/board.cpython-39.pyc
__pycache__/client.cpython-39.pyc
__pycache__/convert.cpython-39.pyc
__pycache__/deck.cpython-39.pyc
__pycache__/images.cpython-39.pyc
__pycache__/options.cpython-39.pyc
__pycache__/parser.cpython-39.pyc
__pycache__/remote.cpython-39.pyc
__pycache__/session.cpython-39.pyc
.vscode/launch.json
.gitignore
.pytest_cache/
.vscode/
__pycache__/
mainWindow/mainWindow.qml
mainWindow/mainWindow.qmlproject
mainWindow/mainWindow.qmlproject.qtds
mainWindow/qtquickcontrols2.conf
mainWindow/Screen01.ui.qml
mainWindow/imports/QtQuick/Studio/Components/ArcItem.qml
mainWindow/imports/QtQuick/Studio/Components/BorderItem.qml
mainWindow/imports/QtQuick/Studio/Components/FlipableItem.qml
mainWindow/imports/QtQuick/Studio/Components/IsoItem.qml
mainWindow/imports/QtQuick/Studio/Components/PieItem.qml
mainWindow/imports/QtQuick/Studio/Components/qmldir
mainWindow/imports/QtQuick/Studio/Components/RectangleItem.qml
mainWindow/imports/QtQuick/Studio/Components/SvgPathItem.qml
mainWindow/imports/QtQuick/Studio/Components/TriangleItem.qml
mainWindow/imports/QtQuick/Studio/Components/designer/ArcItemSpecifics.qml
mainWindow/imports/QtQuick/Studio/Components/designer/BorderItemSpecifics.qml
mainWindow/imports/QtQuick/Studio/Components/designer/BorderModeComboBox.qml
mainWindow/imports/QtQuick/Studio/Components/designer/CapComboBox.qml
mainWindow/imports/QtQuick/Studio/Components/designer/DashPatternEditor.qml
mainWindow/imports/QtQuick/Studio/Components/designer/FlipableItemSpecifics.qml
mainWindow/imports/QtQuick/Studio/Components/designer/IsoItemSpecifics.qml
mainWindow/imports/QtQuick/Studio/Components/designer/MyPlugin.metainfo
mainWindow/imports/QtQuick/Studio/Components/designer/PieItemSpecifics.qml
mainWindow/imports/QtQuick/Studio/Components/designer/RectangleItemSpecifics.qml
mainWindow/imports/QtQuick/Studio/Components/designer/SvgPathItemSpecifics.qml
mainWindow/imports/QtQuick/Studio/Components/designer/TriangleItemSpecifics.qml
mainWindow/imports/QtQuick/Studio/Components/designer/images/custom-border-16px.png
mainWindow/imports/QtQuick/Studio/Components/designer/images/custom-border-24px.png
mainWindow/imports/QtQuick/Studio/Components/designer/images/custom-border-24px@2x.png
mainWindow/imports/QtQuick/Studio/Components/designer/images/custom-rectangle-16px.png
mainWindow/imports/QtQuick/Studio/Components/designer/images/custom-rectangle-24px.png
mainWindow/imports/QtQuick/Studio/Components/designer/images/custom-rectangle-24px@2x.png
mainWindow/imports/QtQuick/Studio/Components/designer/images/iso-icons-16px.png
mainWindow/imports/QtQuick/Studio/Components/designer/images/iso-icons-24px.png
mainWindow/imports/QtQuick/Studio/Components/designer/images/iso-icons-24px@2x.png
mainWindow/imports/QtQuick/Studio/Components/designer/images/item-arc-16px.png
mainWindow/imports/QtQuick/Studio/Components/designer/images/item-arc-24px.png
mainWindow/imports/QtQuick/Studio/Components/designer/images/item-arc-24px@2x.png
mainWindow/imports/QtQuick/Studio/Components/designer/images/item-flippable-16px.png
mainWindow/imports/QtQuick/Studio/Components/designer/images/item-flippable-24px.png
mainWindow/imports/QtQuick/Studio/Components/designer/images/item-flippable-24px@2x.png
mainWindow/imports/QtQuick/Studio/Components/designer/images/item-pie-16px.png
mainWindow/imports/QtQuick/Studio/Components/designer/images/item-pie-24px.png
mainWindow/imports/QtQuick/Studio/Components/designer/images/item-pie-24px@2x.png
mainWindow/imports/QtQuick/Studio/Components/designer/images/item-svg-16px.png
mainWindow/imports/QtQuick/Studio/Components/designer/images/item-svg-24px.png
mainWindow/imports/QtQuick/Studio/Components/designer/images/item-svg-24px@2x.png
mainWindow/imports/QtQuick/Studio/Components/designer/images/item-triangle-16px.png
mainWindow/imports/QtQuick/Studio/Components/designer/images/item-triangle-24px.png
mainWindow/imports/QtQuick/Studio/Components/designer/images/item-triangle-24px@2x.png
mainWindow/imports/QtQuick/Studio/Effects/BlendItem.qml
mainWindow/imports/QtQuick/Studio/Effects/BrightnessContrastItem.qml
mainWindow/imports/QtQuick/Studio/Effects/ColorizeItem.qml
mainWindow/imports/QtQuick/Studio/Effects/ColorOverlayItem.qml
mainWindow/imports/QtQuick/Studio/Effects/DirectionalBlurItem.qml
mainWindow/imports/QtQuick/Studio/Effects/DropShadowItem.qml
mainWindow/imports/QtQuick/Studio/Effects/FastBlurItem.qml
mainWindow/imports/QtQuick/Studio/Effects/GaussianBlurItem.qml
mainWindow/imports/QtQuick/Studio/Effects/GlowItem.qml
mainWindow/imports/QtQuick/Studio/Effects/HueSaturationItem.qml
mainWindow/imports/QtQuick/Studio/Effects/MaskedBlurItem.qml
mainWindow/imports/QtQuick/Studio/Effects/MaskItem.qml
mainWindow/imports/QtQuick/Studio/Effects/qmldir
mainWindow/imports/QtQuick/Studio/Effects/RadialBlurItem.qml
mainWindow/imports/QtQuick/Studio/Effects/RotationItem.qml
mainWindow/imports/QtQuick/Studio/Effects/SaturationItem.qml
mainWindow/imports/QtQuick/Studio/Effects/ZoomBlurItem.qml
mainWindow/imports/QtQuick/Studio/Effects/designer/BrightnessContrastItemSpecifics.qml
mainWindow/imports/QtQuick/Studio/Effects/designer/ColorizeItemSpecifics.qml
mainWindow/imports/QtQuick/Studio/Effects/designer/ColorOverlayItemSpecifics.qml
mainWindow/imports/QtQuick/Studio/Effects/designer/DirectionalBlurItemSpecifics.qml
mainWindow/imports/QtQuick/Studio/Effects/designer/DropShadowItemSpecifics.qml
mainWindow/imports/QtQuick/Studio/Effects/designer/FastBlurItemSpecifics.qml
mainWindow/imports/QtQuick/Studio/Effects/designer/GlowItemSpecifics.qml
mainWindow/imports/QtQuick/Studio/Effects/designer/HueSaturationItemSpecifics.qml
mainWindow/imports/QtQuick/Studio/Effects/designer/MyPlugin.metainfo
mainWindow/imports/QtQuick/Studio/Effects/designer/RadialBlurItemSpecifics.qml
mainWindow/imports/QtQuick/Studio/Effects/designer/SaturationItemSpecifics.qml
mainWindow/imports/QtQuick/Studio/Effects/designer/ZoomBlurItemSpecifics.qml
mainWindow/imports/QtQuick/Studio/Effects/designer/images/blend-mode-16px.png
mainWindow/imports/QtQuick/Studio/Effects/designer/images/blend-mode-24px.png
mainWindow/imports/QtQuick/Studio/Effects/designer/images/blend-mode-24px@2x.png
mainWindow/imports/QtQuick/Studio/Effects/designer/images/brightness-contrast-16px.png
mainWindow/imports/QtQuick/Studio/Effects/designer/images/brightness-contrast-24px.png
mainWindow/imports/QtQuick/Studio/Effects/designer/images/brightness-contrast-24px@2x.png
mainWindow/imports/QtQuick/Studio/Effects/designer/images/colourize-16px.png
mainWindow/imports/QtQuick/Studio/Effects/designer/images/colourize-24px.png
mainWindow/imports/QtQuick/Studio/Effects/designer/images/colourize-24px@2x.png
mainWindow/imports/QtQuick/Studio/Effects/designer/images/directional-blur-16px.png
mainWindow/imports/QtQuick/Studio/Effects/designer/images/directional-blur-24px.png
mainWindow/imports/QtQuick/Studio/Effects/designer/images/directional-blur-24px@2x.png
mainWindow/imports/QtQuick/Studio/Effects/designer/images/drop-shadow-16px.png
mainWindow/imports/QtQuick/Studio/Effects/designer/images/drop-shadow-24px.png
mainWindow/imports/QtQuick/Studio/Effects/designer/images/drop-shadow-24px@2x.png
mainWindow/imports/QtQuick/Studio/Effects/designer/images/fast-blur-16px.png
mainWindow/imports/QtQuick/Studio/Effects/designer/images/fast-blur-24px.png
mainWindow/imports/QtQuick/Studio/Effects/designer/images/fast-blur-24px@2x.png
mainWindow/imports/QtQuick/Studio/Effects/designer/images/gamma-adjust-16px.png
mainWindow/imports/QtQuick/Studio/Effects/designer/images/gamma-adjust-24px.png
mainWindow/imports/QtQuick/Studio/Effects/designer/images/gamma-adjust-24px@2x.png
mainWindow/imports/QtQuick/Studio/Effects/designer/images/glow-16px.png
mainWindow/imports/QtQuick/Studio/Effects/designer/images/glow-24px.png
mainWindow/imports/QtQuick/Studio/Effects/designer/images/glow-24px@2x.png
mainWindow/imports/QtQuick/Studio/Effects/designer/images/hue-satuartion-16px.png
mainWindow/imports/QtQuick/Studio/Effects/designer/images/hue-satuartion-24px.png
mainWindow/imports/QtQuick/Studio/Effects/designer/images/hue-satuartion-24px@2x.png
mainWindow/imports/QtQuick/Studio/Effects/designer/images/mask-16px.png
mainWindow/imports/QtQuick/Studio/Effects/designer/images/mask-24px.png
mainWindow/imports/QtQuick/Studio/Effects/designer/images/mask-24px@2x.png
mainWindow/imports/QtQuick/Studio/Effects/designer/images/mask-blur-16px.png
mainWindow/imports/QtQuick/Studio/Effects/designer/images/mask-blur-24px.png
mainWindow/imports/QtQuick/Studio/Effects/designer/images/mask-blur-24px@2x.png
mainWindow/imports/QtQuick/Studio/Effects/designer/images/radial-blur-16px.png
mainWindow/imports/QtQuick/Studio/Effects/designer/images/radial-blur-24px.png
mainWindow/imports/QtQuick/Studio/Effects/designer/images/radial-blur-24px@2x.png
mainWindow/imports/QtQuick/Studio/Effects/designer/images/saturation-16px.png
mainWindow/imports/QtQuick/Studio/Effects/designer/images/saturation-24px.png
mainWindow/imports/QtQuick/Studio/Effects/designer/images/saturation-24px@2x.png
mainWindow/imports/QtQuick/Studio/Effects/designer/images/zoom-blur-16px.png
mainWindow/imports/QtQuick/Studio/Effects/designer/images/zoom-blur-24px.png
mainWindow/imports/QtQuick/Studio/Effects/designer/images/zoom-blur-24px@2x.png
mainWindow/imports/mainWindow/Constants.qml
mainWindow/imports/mainWindow/qmldir
