lxml==4.6.2
mypy_extensions==0.4.3
arcade==2.5.3
typing_extensions==3.7.4.3
numpy==1.19.2
brotli==1.0.9
Cython==0.29.21
docutils==0.16
importlib_metadata==3.4.0
ipaddr==2.2.0
keyring==22.0.1
lockfile==0.12.2
ordereddict==1.1
Pillow==8.1.0
protobuf==3.14.0
pyOpenSSL==20.0.1
PySimpleGUI==4.34.0
testsuite==0.1.0
wincertstore==0.2
zipp==3.4.0
